<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="homework.mapper.UserMapper">

    <select id="getUserByPk" parameterType="int" resultType="User">
        Select * From users Where id = #{id}
    </select>

    <select id="getUserByNameAndAddress" resultType="User">
        Select * From users Where name = #{param1} and address = #{param2}
    </select>

    <select id="getUserList" resultType="User">
        Select * From users Order By id
    </select>

    <insert id="insertNewUser" parameterType="User">
        Insert into users(
          name,address
        )Values(
          #{name},#{address}
        )
    </insert>

    <update id="updateUser" parameterType="User">
        update users set
        name = #{name},
        address = #{asserss}
        Where id = #{id}
    </update>

    <delete id="deleteUser" parameterType="int">
        Delete From users Where id = #{value}
    </delete>

</mapper>