<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>login</title>
</head>

 <h1 th:text="${message}"></h1>
<form action="./hello" method="post">
<table>
    <tr>
        <td>
            名前<input type="text" name="name" size="40" th:field="${loginData.name}" />
        </td>
    </tr>
        <tr>
        <td>
            アドレス<input type="text" name="address" size="40" th:field="${loginData.address}"/>
        </td>
    </tr>
    <tr>
        <td>
            <input type="submit" value="ログイン" />
        </td>
    </tr>
</table>
<p><a th:href="@{'/new'}">登録はこちら</a></p>
</form>
</html>